* {
  font-family: "Garamond";
}


.App {
  text-align: center;
  font-family: "Garamond", serif;
}

@font-face {
  font-family: "Garamond";
  src: url("./Fonts/Garamond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Garamonditalic";
  src: url("Fonts/Garamond-Italic.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Blackerbold";
  src: url("Fonts/Blackerbold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "InstrumentItalic";
  src: url("Fonts/InstrumentItalic.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Instrument";
  src: url("Fonts/Instrument.ttf") format("truetype");
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headline,
h1.headline {
  font-family: "Instrument", serif;
}

.force-garamond {
  font-family: "Garamond", "EB Garamond", Georgia, serif !important;
}
