body {
  margin: 0;
  font-family: "adobe-caslon-pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  "Adobe Caslon Pro", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
