body {
  overflow-x: hidden;
  background-color: #f1f0de;
}

/* Main wrapper */
.scrollytelling-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header image */
.header-image {
  width: 100%;
  height: auto;
  max-width: none;
  object-fit: contain;
  display: block;
}

/* Title container */
.title-container {
  width: 100%;
  padding: 40px 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-container h1 {
  font-size: 60px;
  margin: 0 0 20px 0;
  font-family: "Instrument", serif;
}

.title-container p {
  font-family: "Garamonditalic", serif;
  font-size: 24px;
  margin: 0;
}
