body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-y: scroll;
  background-color: #f1f0de; 
}

.story2-container {
  margin: 0 10% 0 10%;
  position: relative;
  font-family: "Garamond", serif;
  line-height: 1.4;
  color: #000000;
  text-align: left;
  max-width: 1200px;
  padding: 20px;
}

.top-section {
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-section h1 {
  font-family: "Instrument", serif;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.intro-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.intro-text {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.intro-text p {
  font-size: 20px;
  line-height: 1.6;
}

.intro-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-viz {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0; 
  width: 47vw;
}

.article-text {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 10px; 
  margin-bottom: 20px; 
}

.article-image {
  margin: 40px 0;
  text-align: center;
}

.center-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.story2-content-wrapper {
  display: flex;
  min-height: 100vh;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.scroller {
  flex: 1;
  margin-right: 20px;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 20vh;
  padding: 30px;
  min-height: 30vh;
}

.context-text p {
  font-family: "Garamond", serif;
  font-size: 17.6px;
  color: #000000;
  line-height: 1.3;

  justify-content: left;
}

.headline {
  width: 47vw;
  margin: 0.7in auto 0.2in auto;
  text-align: center;
  font-family: "Instrument", serif;
  font-size: 40px;
  line-height: 1.1;
  color: #000000;
  margin-bottom: 30px;
}

.header-container {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.text-container {
  width: 47vw;
  text-align: left;
  max-width: 800px;
}

.body-text {
  font-family: "Garamond", serif;
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
}
