body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-y: scroll;
  background-color: #f1f0de; 
}

.headline {
  width: 47vw;
  margin: 0.7in auto 0.2in auto;
  text-align: left;
  font-family: "Instrument", serif;
  font-size: 40px;
  line-height: 1.1;
  color: #000000;
  margin-bottom: 30px; 
}
.header-container {
  width: 100%;
  text-align: center;
}
.full-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  object-fit: cover; 
  object-position: center top;
  margin-bottom: 0.1in;
  animation: fade-in 1s ease-in forwards;
}

.header-illustration {
  width: 70vw;
  margin: 0.5in auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.text-container {
  width: 47vw;
  margin: 0 auto 0.5in auto;
  text-align: left;
  color: #ffffff;
}
.body-text {
  font-family: "Garamond", serif;
  font-size: 20px;
  color: #000000;
  line-height: 1.5; 
}
a {
  color: #5c9a73;
  text-decoration: underline;
}
